<div class="card text-center card-info text-bg-dark">
  <div class="card-header my-3">
    <span class="fs-1 ">Bienvenidos a HR Inyectados</span>
  </div>
  <div class="card-body">
    <p class="card-text">Calidad a un click de distancia</p>
    <a href="#" class="btn btn-primary" routerLink="login">Iniciar Sesión</a>
    <a href="#" class="ms-3 btn btn-primary" routerLink="create-user">Registrarse</a>
  </div>
  <div class="card-footer text-muted">
    Número 1 en inyectados de Colombia
  </div>
</div>